<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title><%= tit %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #ececec;" bgcolor="#ececec">
		<tbody>
			<tr style="border-collapse: collapse;">
				<td align="center" bgcolor="#ececec" style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif;">
					<table style="margin: 0 10px;" width="640" border="0" cellpadding="0" cellspacing="0" width="100%" >
						<tbody>
							<tr style="border-collapse: collapse;">
			                    <td width="640" height="20" style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif;"></td>
			                </tr>
			                <tr style="border-collapse: collapse;">
			                	<td id="header" width="640" align="center" bgcolor="#FFFFFF" style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif;">
			                        <div align="center" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #EEE; text-align: center;">
			                            <a href="#" target="_blank" style="display: table-cell;width:640px;height:554px;vertical-align:middle;text-align:center;">
			                            	<img src="cid:miao.jpg" style="width:100%;vertical-align:middle;"/>
			                            </a>
			                        </div>
			                    </td>
			                </tr>
			                <tr style="border-collapse: collapse;">
			                	<td width="640" height="45" align="left" bgcolor="#F5F5F5" style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif;">
			                		<span style="color: #000000;font-size:16px;padding:14px 38px;"><%= name1 %></span>
			                	</td>
			                </tr>
			                <tr style="border-collapse: collapse;">
			                	<td width="640" bgcolor="#FFFFFF" style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif;">
			                		<table width="640" border="0" cellpadding="0" cellspacing="0" width="100%" >
			                			<tbody>
			                				<tr style="border-collapse: collapse;">
		                					    <td width="640" align="center" style="display:table;border-collapse: collapse; font-family: Helvetica, Arial, sans-serif;">
		                					    	<% ins.forEach(function(item, i){ %>
			                					    	<% if((i + 1) % 3 == 2) { %>
														    <div style="display:inline-block;width: 214px;height:97px;padding:12px 0 8px 0;text-align:center;border-bottom:1px solid #e1e1e1;border-left:1px solid #e1e1e1;border-right:1px solid #e1e1e1;">
						                						<div style="color: #0b0b0b; font-size:16px;"><%= item.indName %></div>
						                						<div style="color: #e92616; font-size:14px;">+<%= (item.percent).toFixed(2) %>%</div>
						                						<div style="color: #7d7d7d; font-size:14px;"><%= item.topStockName %></div>
						                						<div style="color: #292929; font-size:14px; margin: 0 0 5px;"><%= item.topStockCurrent %> +<%= item.topStockPercent %>%</div>
						                					</div>
														<% } else { %>
															<div style="display:inline-block;width: 212px;height:97px;padding:12px 0 8px 0;text-align:center;border-bottom:1px solid #e1e1e1;">
						                						<div style="color: #0b0b0b; font-size:16px;"><%= item.indName %></div>
						                						<div style="color: #e92616; font-size:14px;">+<%= (item.percent).toFixed(2) %>%</div>
						                						<div style="color: #7d7d7d; font-size:14px;"><%= item.topStockName %></div>
						                						<div style="color: #292929; font-size:14px; margin: 0 0 5px;"><%= item.topStockCurrent %> +<%= item.topStockPercent %>%</div>
						                					</div>
														<% } %>
													<% }) %>
			                					</td>
			                				</tr>
			                			</tbody>
			                		</table>
			                	</td>
			                </tr>
			                <tr style="border-collapse: collapse;">
			                	<td width="640" height="45" align="left" bgcolor="#F5F5F5" style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif;">
			                		<span style="color: #000000;font-size:16px;padding:14px 38px;"><%= name2 %></span>
			                	</td>
			                </tr>
			                <tr style="border-collapse: collapse;">
			                	<td width="640" bgcolor="#FFFFFF" style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif;">
			                		<table width="640" border="0" cellpadding="0" cellspacing="0" width="100%" >
			                			<tbody>
			                				<% news.forEach(function(item, i){ %>
			                					<tr style="border-collapse: collapse;">
				                					<td width="640" bgcolor="#FFFFFF" style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif;border-top:1px solid #e1e1e1;padding:35px 38px;">
				                						<div style="font-size: 16px;line-height:22px;"><%= item.text %></div>
				                					</td>
				                				</tr>
			                				<% }) %>
			                			</tbody>
			                		</table>
			                	</td>
			                </tr>
			                <tr style="border-collapse: collapse;">
			                    <td width="640" height="20" style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif;"></td>
			                </tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>